<div class="container">
    <h2 class="text-center">Bienvenido, Omar</h2>

    <div class="lista text-center">
        <div class="elemento" ui-sref="bar.pago">
            Pago
        </div>
        <div class="elemento" ui-sref="bar.consulta">
            Consulta
        </div>
        <div class="elemento" ui-sref="bar.actualizacion">
            Actualizacion de Datos
        </div>
        <div class="elemento">
            Buzon de mensajes
        </div>
        <div class="elemento" ui-sref="bar.reclamos">
            Reclamos
        </div>
        <div class="elemento" ui-sref="bar.atencion">
            Cerrar Sesion
        </div>
    </div>
</div>