<h2>Reclamos</h2>

<p class="nota">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum minima possimus voluptatum est odio eligendi amet adipisci,
    autem laudantium quidem deserunt tenetur repellat, porro. Repudiandae dolorem voluptatum odit ipsa quia.</p>

<form action="">
    <div class="form-group">
        <label for="exampleInputEmail1">Razon</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    </div>

    <div class="form-group">
        <label for="exampleTextarea">Mensaje</label>
        <textarea class="form-control" id="exampleTextarea" rows="5"></textarea>
    </div>


    <div class="btn-group d-flex justify-content-around mb-2" role="group" aria-label="Basic example">
        <button type="button" ui-sref="bar.opciones" class="btn btn-secondary">Atras</button>
        <button type="button" class="btn btn-success">Actualizar</button>
    </div>

</form>